.chart {
  padding:10px;

}
.graph {
  width: 500px;
  height: 300px;
  background: #fff;
  padding:10px;
}

.chart-header {
  font-family: Arial, Helvetica, sans-serif
}

.chart-line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 0; /* solid line could be 5,5 = dashed line */
}

.chart-circle {
  /* fill: grey; */
  fill: blue;
  fill-opacity: 5;
  stroke: blue;
  stroke-width: 0;
}

.graph .labels {
  font-family: Arial;
  font-size: 12px;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}
.ticks {
  stroke: rgb(8, 8, 8);
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1;
}

circle:hover {
  stroke-opacity: 0;
  stroke-width: 3px;
  stroke: black;
  stroke-dasharray: 5,5;
  fill: red;
}