<div class="chart">
  <div class="chart-header">
    <h2 class="chart-title">{{dataSet.title}}</h2>
  </div>

  <svg class="graph" [ngStyle]="chartStyle">

    <!-- For Each Data Series -->
    <!-- check type line / bar -->
    <g *ngFor="let p of dataSet.points; let i = index">
      <g *ngIf="p.type === 'line'">
        <!--  line graphs -->
        <g app-line-chart [series]="dataSet.points[i]" [seriesIndex]="i" [dataSet]="dataSet" (pClicked)="pointClicked($event)"></g>
      </g>
      <g *ngIf="p.type === 'bar'">
        <!--  bar graphs-->
        <g app-bar-chart [series]="dataSet.points[i]" [dataSet]="dataSet" [index]="i"></g>
      </g>
    </g>

    <!-- tooltip: come back to this when decision made about materialise or angular material -->
    <!-- <app-tooltip *ngFor="let p of dataSet.points.values" [item]="p.item">
    </app-tooltip> -->

    <!-- to do: check type if chart if pie or donut do not show -->
    <!-- ***Static part of graph*** -->
    <g class="axis">
      <!-- x-axis-->
      <line attr.x1="{{dataSet.xline.x1}}" attr.x2="{{dataSet.xline.x2}}" attr.y1="{{dataSet.xline.y1}}" attr.y2="{{dataSet.xline.y2}}"></line>
    </g>
    <g class="axis">
      <!-- y-axis -->
      <line attr.x1="{{dataSet.yline.x1}}" attr.x2="{{dataSet.yline.x2}}" attr.y1="{{dataSet.yline.y1}}" attr.y2="{{dataSet.yline.y2}}"></line>
    </g>
    <g class="labels x-labels" [ngStyle]="labelStyle">
      <!--  X-axis labels-->
      <text class="chart-labels" *ngFor="let l of dataSet.xlabels" attr.x="{{l.x}}" attr.y="{{l.y}}">{{l.text}}</text>
      <!-- X-axis title -->
      <text attr.x="{{dataSet.labelxTitle.x}}" attr.y="{{dataSet.labelxTitle.y}}" class="label-title">{{dataSet.labelxTitle.title}}</text>
      <!-- X-GRID -->
      <!-- only show if dataSet.grid = true -->
      <line [ngClass]="getGridClass()" *ngFor="let l of dataSet.xlabels" attr.x1="{{l.x}}" attr.x2="{{l.x}}" attr.y1="{{l.y}}"
        attr.y2=0></line>
      <!-- X axis ticks to come back to -->
      <!-- <line class="ticks" *ngFor="let l of dataSet.xlabels" attr.x1="{{l.x}}" attr.x2="{{l.x}}" attr.y1=5 attr.y2=0></line> -->
    </g>
    <g class="labels y-labels" [ngStyle]="labelStyle">
      <!--  Y-axis labels-->
      <text class="chart-labels" *ngFor="let l of dataSet.ylabels" attr.x="{{l.x}}" attr.y="{{l.y}}">{{l.text}}</text>
      <!-- Y-axis title -->
      <text attr.x="{{dataSet.labelyTitle.x}}" attr.y="{{dataSet.labelyTitle.y}}" attr.transform="rotate(270, {{dataSet.labelyTitle.x}} , {{dataSet.labelyTitle.y}} )"
        class="label-title">{{dataSet.labelyTitle.title}}</text>
      <!-- Y-GRID -->
      <!-- only show if dataSet.grid = true -->
      <line [ngClass]="getGridClass()" *ngFor="let l of dataSet.ylabels" attr.x1="{{l.x}}" attr.x2="{{dataSet.xline.x2}}" attr.y1="{{l.y}}"
        attr.y2="{{l.y}}"></line>
      <!-- Legend -->

    </g>

  </svg>
  <svg class="legend">
    <text attr.x="200" attr.y={{10}}>Legend</text>
    <g *ngFor="let l of dataSet.data.series; let i=index;">
      <line [ngStyle]="graphService.setStyles(i, dataSet)" attr.x1={{60}} attr.x2={{120}} attr.y1={{15*i+20}} attr.y2={{15*i+20}}></line>
      <text attr.x="200" attr.y={{15*i+20}}>{{l.legend}}</text>
    </g>
  </svg>

</div>
