.legend {
    font-size:12px;
    width: 150px;
    height: 100px;
    list-style: none;
    color: steelblue;
    border: 1px solid steelblue;
    background-color: lightgrey;
    text-align: center;
    padding:20px;
    padding-top:0px;
    margin: 10px;
    position: fixed;
    top:90px;
    text-align: center;
    border:1px solid black;
  }
 
  .text-legend {
      /* fill:yellow; */
      font-size:13px;
  }

  .title-legend{
      font-size:15px;
      fill: blue;
  }