.chart-circle {
    fill: blue;
    /* stroke: blue; */
    stroke-width: 4;

    /* z-index: 5; */
  }
  circle:hover{
    /* stroke-opacity: 0; */
    stroke-width: 4px;
    stroke: red;
    stroke-dasharray: 0;
    fill:red;
    /* z-index:5; */
   
  }

circle.circle:hover{
    /* stroke-opacity: 0; */
    stroke-width: 4px;
    stroke: red;
    stroke-dasharray: 0;
    fill:red;
    /* z-index:5; */
   
  }
  line:hover {
    /* stroke-opacity: 0; */
    stroke-width: 4px;
    stroke: black;
    stroke-dasharray: 0;
    fill:red;
    /* z-index:5; */
   
  }
 
  /* circle#circle.chart-circle{
    fill:blue;
    z-index:5;
  } */

  /* circle#circle.chart-circle:hover svg {
    fill:orange;
  } */
  