.chart rect {
    fill: steelblue;
    /* opacity: .5; */
    /* z-index: -1; */
  }
  
  .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
  
  rect:hover {
    fill: red;
  }